<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sar.user.smart_city">

    <application
        android:allowBackup="true"
        android:appComponentFactory="Any character"
        android:icon="@drawable/homelogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".AudioToText" />
        <activity android:name=".ram" />
        <activity android:name=".MainScreen" />
        <activity android:name=".FinalAct" />
        <activity android:name=".ImageSelect" />
        <activity android:name=".TextReview" />
        <activity android:name=".RecordAudio" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Profile" />

        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>